body {
    margin: 0;
    border: 0;
    padding: 0 8px 0 8px;
    background-color: white;
}

main button {
    cursor: pointer;
}

span.liked, span.disliked, span.highlit {
    color: blue;
}

span.tooltip {
    cursor: pointer;
}

span.tooltip span.tooltiptext {
    position: absolute;
    z-index: 2;
    visibility: hidden;
    background-color: black;
    color: white;
}

span.tooltip:hover span.tooltiptext {
    visibility: visible;
}
