aside.sidenav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    padding: 0 8px 0 8px;
    display: none;
    background-color: lightgrey;
    overflow: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

aside.sidenav::-webkit-scrollbar {
    display: none;
}

nav.page form {
    display: inline;
}
