<Files *>
    Require all denied
</Files>

<FilesMatch "^$">
    Require all granted
</FilesMatch>

<Files "*.css">
    Require all granted
</Files>

<Files "*.php">
    Require all granted
</Files>

php_value max_input_vars 10000
