<Files *>
    Require all denied
</Files>

<FilesMatch "^$">
    Require all granted
</FilesMatch>

<Files "*.css">
    Require all granted
</Files>

<Files "*.js">
    Require all granted
</Files>

<Files "*.json">
    Require all granted
</Files>

<Files "*.wsgi">
    Require all granted
</Files>

<Files "favicon.ico">
    Require all granted
</Files>
