input.liked {
	background-color: green;
}

input.disliked {
	background-color: red;
}

form.button {
	display: inline-block;
}

span.sidenav {
	cursor: pointer;
}

div.sidenav {
	z-index: 1;
	width: 0;
	height: 100%;
	position:fixed;
	top: 0;
	left: 0;
	background-color: lightgrey;
	overflow-x: hidden;
	transition: 0.5s;
}

p.sidenav {
	white-space: nowrap;
}
