aside.sidenav {
    position: fixed;
    display: none;

    top: 0;
    right: 0;
    height: 100%;
    padding: 0 8px 0 8px;

    z-index: 2;
    background-color: lightgrey;

    overflow: auto;
    scrollbar-width: none;
}

aside.sidenav select {
    max-width: 12em;
}
