nav.topnav {
    position: sticky;

    top: 0;
    right: 0;
    width: 100%;

    z-index: 1;
    background-color: inherit;

    min-height: 1em;
    font-size: 2em;
}

nav.topnav span.left {
    float: left;
}

nav.topnav span.right {
    float: right;
}

nav.topnav i[onclick] {
    cursor: pointer;
}

nav.topnav i.dead_link {
    opacity: 0.2;
}

nav.topnav a:link, nav.topnav a:visited, nav.topnav a:hover, nav.topnav a:active {
    color: black;
}
