<!DOCTYPE html>
<html>
<head>
<!-- Character encoding -->
<!-- https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/The_head_metadata_in_HTML#specifying_your_documents_character_encoding -->
<meta charset="utf-8">
<!-- Virtual viewport -->
<!-- https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Responsive_Design#the_viewport_meta_tag -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Author & description -->
<!-- https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/The_head_metadata_in_HTML#adding_an_author_and_description -->
<meta name="author" content="Hans Yu">
<meta name="description" content="RSS reader.">
<!-- Favorites icon -->
<!-- https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/The_head_metadata_in_HTML#adding_custom_icons_to_your_site -->
<link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon">

<!-- CSS -->
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/topnav.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/sidenav.css') }}" rel="stylesheet" type="text/css">

<!-- Material icons -->
<!-- https://developers.google.com/fonts/docs/material_icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Title -->
<!-- https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/The_head_metadata_in_HTML#adding_a_title -->
<title>Stein's Feed</title>

<script>
var home_ep = "{{ url_for('home.home') }}"
var feed_ep = "{{ url_for('feed.feed') }}"
var settings_ep = "{{ url_for('overview.settings') }}"
var statistics_ep = "{{ url_for('overview.statistics') }}"
var tag_ep = "{{ url_for('tag.tag') }}"
</script>

<script src="{{ url_for('static', filename='js/menu.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/toggle_checkbox.js') }}" defer></script>

{% block scripts %}{% endblock %}
</head>

<!-- Document and website structure -->
<!-- https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Document_and_website_structure#basic_sections_of_a_document -->
<body>
{% include 'topnav.html' %}
{% include 'sidenav.html' %}

<!-- Header -->
<header>
<h1>{{ topnav_title }}</h1>
{% block header %}{% endblock %}
</header>

<hr>

<!-- Main content -->
<main id="main">
{% block body %}{% endblock %}
</main>

<hr>

<!-- Footer -->
<footer>
<p>
<a href="https://github.com/hy144328/steins-feed">GitHub</a>
<a href="https://github.com/hy144328/steins-feed/blob/master/HOWTO.md">Instructions</a>
</p>
</footer>
</body>
</html>
