{% extends "base.html" %}
{% from 'forms.jinja' import select_lang %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/toggle_request.js') }}" defer></script>
{% endblock %}

{% block body %}
<hr>
<form method="post" action="{{ url_for('feed.update_feed') }}">
<p>
Title:<br>
<input type="text" name="title" value="{{ feed_row.Title }}">
</p>
<p>
Link:<br>
<input type="text" name="link" value="{{ feed_row.Link }}">
</p>
<p>
Language:<br>
{{ select_lang(langs_all, feed_row.Language) }}
</p>
{#
<p>
Summary:<br>
<?php if ($feed_row['Summary'] == 0):?>
<input type="radio" name="summary" value=0 checked>
<?php else:?>
<input type="radio" name="summary" value=0>
<?php endif;?>
No abstract
<?php if ($feed_row['Summary'] == 1):?>
<input type="radio" name="summary" value=1 checked>
<?php else:?>
<input type="radio" name="summary" value=1>
<?php endif;?>
First paragraph
<?php if ($feed_row['Summary'] == 2):?>
<input type="radio" name="summary" value=2 checked>
<?php else:?>
<input type="radio" name="summary" value=2>
<?php endif;?>
Full text
<?php if ($feed_row['Summary'] == 3):?>
<input type="radio" name="summary" value=2 checked>
<?php else:?>
<input type="radio" name="summary" value=2>
<?php endif;?>
Full text and everything
</p>
#}
<p>
Display:<br>
# if feed_row.users
<input type="radio" name="display" value=1 checked>
# else
<input type="radio" name="display" value=1>
# endif
Displayed
# if feed_row.users
<input type="radio" name="display" value=0>
# else
<input type="radio" name="display" value=0 checked>
# endif
Hidden
</p>
<input type="hidden" name="feed" value={{ feed_row.FeedID }}>
<input type="submit" value="Update feed">
</form>
<hr>
<p>Tags:</p>
<select name="tagged" style="width: 100px;" multiple>
# for tag_it in feed_tags
<option value={{ tag_it.TagID }}>
{{ tag_it.Name }}
</option>
# endfor
</select>
<button onclick="toggle_tags({{ feed_row.FeedID }})" type="button">
<i class="material-icons">compare_arrows</i>
</button>
<select name="untagged" style="width: 100px;" multiple>
# for tag_it in feed_tags_not
<option value={{ tag_it.TagID }}>
{{ tag_it.Name }}
</option>
# endfor
</select>
{% endblock %}
