# macro select_lang(langs, default_name)
<select name="lang">
#     for lang_it in langs
#         if lang_it.name == default_name
<option value="{{ lang_it.name }}" selected>
#         else
<option value="{{ lang_it.name }}">
#         endif
{{ lang_it.value }}
</option>
#     endfor
</select>
# endmacro
