{% extends "base.html" %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/highlight.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/like.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/next_item.js') }}" defer></script>
# if feed != enum_feed.FULL
<script>
{% for lang_it in langs %}
var {{ lang_it|lower }}_words;
$(document).ready(function() {
    $.getJSON("/steins-feed/{{ user_id }}/{{ lang_it }}_cookie.json", function(result) {
        {{ lang_it|lower }}_words = result;
    });
});
{% endfor %}
</script>
<script src="{{ url_for('static', filename='snowball/base-stemmer.js') }}" defer></script>
{% for lang_it in langs %}
<script src="{{ url_for('static', filename='snowball/' ~ lang_it|lower ~ '-stemmer.js') }}" defer></script>
{% endfor %}
# endif
{% endblock %}

{% block header %}
<p>
{{ items|count }} articles.
Last updated: {{ last_updated }} GMT.
</p>
{% endblock %}

{% block body %}
{% for item_it in items %}
<article id="article_{{ item_it['ItemID'] }}">
<hr>
<h2>
<a href="{{ item_it['Link'] }}" rel="noopener noreferrer" target="_blank">
<span id="title_{{ item_it['ItemID'] }}">
{{ item_it['Title']|safe }}
</span>
</a>
</h2>
<p>
Source: <a href="{{ url_for('base.feed') }}?feed_id={{ item_it['FeedID'] }}">{{ item_it['Feed'] }}</a>.
Published: {{ item_it['Published'] }} GMT.
# if item_it['TagIDs'] != "":
Tags:
# set tag_ids = item_it['TagIDs'].split(",")
# set tag_names = item_it['TagNames'].split(",")
<a href="{{ url_for('base.tag') }}?tag={{ tag_ids[0] }}">{{ tag_names[0] }}</a>
# for tag_ct in range(1, tag_ids|count):
<a href="{{ url_for('base.tag') }}?tag={{ tag_ids[tag_ct] }}">{{ tag_names[tag_ct] }}</a>
# endfor
.
# endif
# if feed != enum_feed.FULL
Score: {{ 2 * item_it['Score'] - 1 }}.
# endif
</p>
<div id="summary_{{ item_it['ItemID'] }}">
{{ item_it['Summary']|clean|safe }}
</div>
<p>
<button onclick="like({{ item_it['ItemID'] }})" type="button">
{% if item_it['Like'] == enum_like.UP.name %}
<span id="like_{{ item_it['ItemID'] }}" class="liked">
{% else %}
<span id="like_{{ item_it['ItemID'] }}" class="like">
{% endif %}
<i class="material-icons">
thumb_up
</i>
</span>
</button>
<button onclick="dislike({{ item_it['ItemID'] }})" type="button">
{% if item_it['Like'] == enum_like.DOWN.name %}
<span id="dislike_{{ item_it['ItemID'] }}" class="disliked">
{% else %}
<span id="dislike_{{ item_it['ItemID'] }}" class="dislike">
{% endif %}
<i class="material-icons">
thumb_down
</i>
</span>
</button>
# if feed != enum_feed.FULL
<button onclick="highlight({{ item_it['ItemID'] }}, '{{ item_it['Language'] }}')" type="button">
<span id="highlight_{{ item_it['ItemID'] }}" class="highlight">
<i class="material-icons">
lightbulb_outline
</i>
</span>
</button>
# endif
</p>
</article>
{% endfor %}
{% endblock %}
