{% extends "base.html" %}

<!-- block scripts -->
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/highlight.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/like.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/next_item.js') }}" defer></script>
# if wall != WallMode.CLASSIC
<script>
{% for lang_it in langs %}
var {{ lang_it|lower }}_words;
$(document).ready(function() {
    $.getJSON("/steins-feed/{{ user_id }}/{{ lang_it }}_cookie.json", function(result) {
        {{ lang_it|lower }}_words = result;
    });
});
{% endfor %}
</script>
<script src="{{ url_for('static', filename='snowball/base-stemmer.js') }}" defer></script>
{% for lang_it in langs %}
<script src="{{ url_for('static', filename='snowball/' ~ lang_it|lower ~ '-stemmer.js') }}" defer></script>
{% endfor %}
# endif
{% endblock %}

<!-- block header -->
{% block header %}
<p>
{{ items|count }} articles.
Last updated: {{ last_updated }} GMT.
</p>
{% endblock %}

<!-- block body -->
{% block body %}
<hr>
{% for item_it in items %}
<article id="article_{{ item_it.ItemID }}">
<h2>
<a href="{{ item_it.Link }}" target="_blank">
<span id="title_{{ item_it.ItemID }}">
{{ item_it.Title|safe }}
</span>
</a>
</h2>

<p>
Source: <a href="{{ url_for('feed.feed') }}?feed={{ item_it.FeedID }}">{{ item_it.feed.Title }}</a>.

Published: {{ item_it.Published }} GMT.

# if item_it.feed.tags:
Tags:
# for tag_it in item_it.feed.tags:
<a href="{{ url_for('tag.tag') }}?tag={{ tag_it.TagID }}">{{ tag_it.Name }}</a>
# endfor
.
# endif

# if wall == WallMode.MAGIC or wall == WallMode.SURPRISE
Score: {{ "{:.02f}".format(item_it.magic[0].Score) }}.
# endif
</p>

<div id="summary_{{ item_it.ItemID }}">
{{ item_it.Summary|clean|safe }}
</div>

<p>
<button type="button" onclick="like({{ item_it.ItemID }})">
<span id="like_{{ item_it.ItemID }}" class="{{ 'liked' if item_it.likes|count > 0 and item_it.likes[0].Score == Like.UP.name else 'like' }}">
<i class="material-icons">thumb_up</i>
</span>
</button>

<button type="button" onclick="dislike({{ item_it.ItemID }})">
<span id="dislike_{{ item_it.ItemID }}" class="{{ 'disliked' if item_it.likes|count > 0 and item_it.likes[0].Score == Like.DOWN.name else 'dislike' }}">
<i class="material-icons">thumb_down</i>
</span>
</button>

# if wall == WallMode.MAGIC or wall == WallMode.SURPRISE
<button type="button" onclick="highlight({{ item_it.ItemID }}, '{{ item_it.Language }}')">
<span id="highlight_{{ item_it.ItemID }}" class="highlight">
<i class="material-icons">lightbulb_outline</i>
</span>
</button>
# endif
</p>
</article>
<hr>
{% endfor %}
{% endblock %}
