# macro get_home(wall, page, unit, langs, tags)
{{- url_for('home.home') -}}
?wall={{- wall.name -}}
&page={{- page -}}
&unit={{- unit.name -}}
#     for lang_it in langs
&lang={{- lang_it.name -}}
#     endfor
#     for tag_it in tags
&tag={{- tag_it.Name -}}
#     endfor
# endmacro

# macro get_settings(wall, page, unit, langs, tags)
{{- url_for('overview.settings') -}}
?wall={{- wall.name -}}
&page={{- page -}}
&unit={{- unit.name -}}
#     for lang_it in langs
&lang={{- lang_it.name -}}
#     endfor
#     for tag_it in tags
&tag={{- tag_it.Name -}}
#     endfor
# endmacro

# macro get_statistics(wall, page, unit, langs, tags)
{{- url_for('overview.statistics') -}}
?wall={{- wall.name -}}
&page={{- page -}}
&unit={{- unit.name -}}
#     for lang_it in langs
&lang={{- lang_it.name -}}
#     endfor
#     for tag_it in tags
&tag={{- tag_it.Name -}}
#     endfor
# endmacro
