{% extends "base.html" %}
{% from 'forms.jinja' import select_lang %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/toggle_request.js') }}" defer></script>
{% endblock %}

{% block body %}
<hr class="article-hr">

# for lang_it in feeds_lang
<p>{{ lang_it.value }} feeds:</p>

<select name="displayed_{{ lang_it.name }}" size=10 style="width: 200px;" multiple>
# for row_it in feeds_lang[lang_it]
<option value={{ row_it.FeedID }}>
{{ row_it.Title }}
</option>
# endfor
</select>

<button onclick="toggle_display('{{ lang_it.name }}')" type="button">
<i class="material-icons">compare_arrows</i>
</button>

<select name="hidden_{{ lang_it.name }}" size=10 style="width: 200px;" multiple>
# for row_it in feeds_lang_not[lang_it]
<option value={{ row_it.FeedID }}>
{{ row_it.Title }}
</option>
# endfor
</select>
# endfor

<hr class="article-hr">

<form method="post" action="{{ url_for('overview.add_feed') }}">
<p>
Title:<br>
<input type="text" name="title">
</p>
<p>
Link:<br>
<input type="text" name="link">
</p>
<p>
Language:<br>
{{ select_lang(langs_all, lang_default.name) }}
</p>
<p>
Summary:<br>
<input type="radio" name="summary" value=0>
No abstract
<input type="radio" name="summary" value=1>
First paragraph
<input type="radio" name="summary" value=2 checked>
Full text
<input type="radio" name="summary" value=3>
Full text and everything
</p>
<input type="submit" value="Add feed">
</form>

<hr class="article-hr">

<form method="post" action="{{ url_for('overview.delete_feed') }}">
<p>
<select name="feed">
# for feed_it in feeds_all
<option value="{{ feed_it.FeedID }}">
{{ feed_it.Title }}
</option>
# endfor
</select>
</p>
<input type="submit" value="Delete feed">
</form>

<hr class="article-hr">

<form method="post" action="{{ url_for('overview.add_tag') }}">
<p>
<input type="text" name="tag">
<input type="submit" value="Add tag">
</p>
</form>

<hr class="article-hr">

<form method="post" action="{{ url_for('overview.delete_tag') }}">
<p>
<select name="tag">
# for tag_it in tags_all
<option value="{{ tag_it.TagID }}">
{{ tag_it.Name }}
</option>
# endfor
</select>
</p>
<input type="submit" value="Delete tag">
</form>

<hr>
{% endblock %}
