# from 'links.jinja' import get_home, get_settings, get_statistics
<aside id="sidenav" class="sidenav">
<nav class="topnav">
{% include 'topnav_right_close.html' %}
</nav>

<section>
<form action="{{ url_for('home.home') }}" method="get">
<!-- Tags -->
# if tags_disp|count > 0
<p>
<fieldset id="input_tag">
<legend>Tags</legend>
<label>
<input type="checkbox" onclick="toggle_checkbox('input_tag')"{{" checked" if tags|contains(tags_disp)}}>
ALL TAGS
<br>
</label>
# for tag_it in tags_disp
<label>
<input name="tag" onclick="prove_checkbox('input_tag')" value="{{ tag_it.Name }}" type="checkbox"{{" checked" if tag_it.TagID in tags|map(attribute="TagID")}}>
{{ tag_it.Name }}
</label>
<br>
# endfor
</fieldset>
</p>
# endif

<!-- Languages -->
<p>
<fieldset id="input_lang">
<legend>Languages</legend>
<label>
<input type="checkbox" onclick="toggle_checkbox('input_lang')"{{" checked" if langs|count == 0 or langs|contains(langs_disp)}}>
ALL LANGUAGES
<br>
</label>
# for lang_it in langs_disp
<label>
<input type="checkbox" name="lang" value="{{ lang_it.name }}" onclick="prove_checkbox('input_lang')"{{" checked" if langs|count == 0 or lang_it in langs}}>
{{ lang_it.value }}
</label>
<br>
# endfor
</fieldset>
</p>

<!-- Wall -->
<p>
<fieldset>
<legend>Wall</legend>
# for wall_it in WallMode
<label>
<input type="radio" name="wall" value="{{wall_it.name}}"{{" checked" if wall_it == wall}}{{" disabled" if not magic_exists}}>
{{ wall_it.value }}
</label>
<br>
# endfor
</fieldset>
</p>

<!-- Submission -->
<p>
<fieldset>
<input type="hidden" name="page" value="{{ page }}">
<input type="hidden" name="unit" value="{{ unit.name }}">
# for unit_it in UnitMode
<button type="submit" name="unit_new" value="{{ unit_it.name }}">
{{ unit_it.value }}
</button>
# endfor
</fieldset>
</p>
</form>
</section>

# if feeds_all|count > 0 or tags_all|count > 0
<hr>
# endif

# if feeds_all|count > 0
<form action="{{ url_for('feed.feed') }}" method="get">
<p>
<fieldset>
<legend>Feed</legend>
<select name="feed">
# for feed_it in feeds_all
<option value="{{ feed_it.FeedID }}">{{ feed_it.Title }}</option>
# endfor
</select>
<input type="submit" value="Edit">
</fieldset>
</p>
</form>
# endif

# if tags_all|count > 0
<form action="{{ url_for('tag.tag') }}" method="get">
<p>
<fieldset>
<legend>Tag</legend>
<select name="tag">
# for tag_it in tags_all
<option value="{{ tag_it.TagID }}">{{ tag_it.Name }}</option>
# endfor
</select>
<input type="submit" value="Edit">
</fieldset>
</p>
</form>
# endif
</aside>
