# from 'links.jinja' import get_home, get_settings, get_statistics
<aside id="sidenav" class="sidenav">
<nav class="topnav">
<span class="right">
<a href="{{ get_home(feed, 0, timeunit, langs, tags) }}"><i class="material-icons">home</i></a>
<a href="{{ get_settings(feed, 0, timeunit, langs, tags) }}" target="_blank"><i class="material-icons">insert_chart_outlined</i></a>
<a href="{{ get_statistics(feed, 0, timeunit, langs, tags) }}" target="_blank"><i class="material-icons">settings</i></a>
<i onclick="close_menu()" class="material-icons">
close
</i>
</span>
</nav>
<script src="{{ url_for('static', filename='js/toggle_checkbox.js') }}" defer></script>
<section>
<form action="{{ url_for('home.home') }}" method="get">
# if tags_disp|count > 0
<p>
<fieldset id="input_tag">
<legend>Tags</legend>
<label>
# if tags|contains(tags_disp)
<input type="checkbox" onclick="toggle_checkbox('input_tag')" checked>
# else
<input type="checkbox" onclick="toggle_checkbox('input_tag')">
# endif
ALL TAGS
<br>
</label>
# for tag_it in tags_disp
<label>
# if tag_it in tags
<input name="tag" onclick="prove_checkbox('input_tag')" value="{{ tag_it }}" type="checkbox" checked>
# else
<input name="tag" onclick="prove_checkbox('input_tag')" value="{{ tag_it }}" type="checkbox">
# endif
{{ tag_it }}
</label>
<br>
# endfor
</fieldset>
</p>
# endif
<p>
<fieldset id="input_lang">
<legend>Languages</legend>
<label>
# if langs|count == 0 or langs|contains(langs_disp)
<input type="checkbox" onclick="toggle_checkbox('input_lang')" checked>
# else
<input type="checkbox" onclick="toggle_checkbox('input_lang')">
# endif
ALL LANGUAGES
<br>
</label>
# for lang_it in langs_disp
<label>
# if langs|count == 0 or lang_it in langs
<input name="lang" onclick="prove_checkbox('input_lang')" value="{{ lang_it.name }}" type="checkbox" checked>
# else
<input name="lang" onclick="prove_checkbox('input_lang')" value="{{ lang_it.name }}" type="checkbox">
# endif
{{ lang_it.value }}
</label>
<br>
# endfor
</fieldset>
</p>
{#
<p>
<fieldset>
<legend>Feed</legend>
<?php
$feed_dict = array("Full", "Magic", "Surprise");
$magic_exists = file_exists($_SERVER['DOCUMENT_ROOT'] . "/steins-feed/$user_id/$clf_key/clfs.pickle");
foreach($feed_dict as $key):
?>
<label>
<?php
    $feed_input = '<input name="feed" value="' . $key . '" type="radio"';
    if ($key == $feed) {
        $feed_input .= ' checked';
    }
    if (!$magic_exists) {
        $feed_input .= ' disabled';
    }
    $feed_input .= '>';
    echo $feed_input . PHP_EOL;
    echo $key . PHP_EOL;
?>
</label>
<br>
<?php endforeach;?>
</fieldset>
</p>
#}
<p>
<fieldset>
<input name="page" value="{{ page }}" type="hidden">
<input name="timeunit" value="{{ timeunit.name }}" type="hidden">
# for tu_it in enum_timeunit:
<button name="timeunit_new" value="{{ tu_it.name }}" type="submit">
{{ tu_it.value }}
</button>
# endfor
</fieldset>
</p>
</form>
</section>
<hr>
<form action="{{ url_for('base.feed') }}" method="get">
<p>
<fieldset>
<legend>Feed</legend>
<select name="feed_id">
# for feed_it in feeds_all
<option value="{{ feed_it['FeedID'] }}">{{ feed_it['Title'] }}</option>
# endfor
</select>
<input type="submit" value="Edit">
</fieldset>
</p>
</form>
<form action="{{ url_for('base.tag') }}" method="get">
<p>
<fieldset>
<legend>Tag</legend>
<select name="tag">
# for tag_it in tags_all
<option value="{{ tag_it['TagID'] }}">{{ tag_it['Name'] }}</option>
# endfor
</select>
<input type="submit" value="Edit">
</fieldset>
</p>
</form>
</aside>
