# from 'links.jinja' import get_home, get_settings, get_statistics
<aside id="sidenav" class="sidenav">
<nav class="topnav">
<span class="right">
<a href="{{ get_home(feed, page, timeunit, langs, tags) }}"><i class="material-icons">home</i></a>
<a href="{{ get_statistics(feed, page, timeunit, langs, tags) }}" target="_blank"><i class="material-icons">insert_chart_outlined</i></a>
<a href="{{ get_settings(feed, page, timeunit, langs, tags) }}" target="_blank"><i class="material-icons">settings</i></a>
<i onclick="close_menu()" class="material-icons">
close
</i>
</span>
</nav>
<script src="{{ url_for('static', filename='js/toggle_checkbox.js') }}" defer></script>
<section>
<form action="{{ url_for('home.home') }}" method="get">
# if tags_disp|count > 0
<p>
<fieldset id="input_tag">
<legend>Tags</legend>
<label>
<input type="checkbox" onclick="toggle_checkbox('input_tag')"{{" checked" if tags|contains(tags_disp)}}>
ALL TAGS
<br>
</label>
# for tag_it in tags_disp
<label>
<input name="tag" onclick="prove_checkbox('input_tag')" value="{{ tag_it.Name }}" type="checkbox"{{" checked" if tag_it.TagID in tags|map(attribute="TagID")}}>
{{ tag_it.Name }}
</label>
<br>
# endfor
</fieldset>
</p>
# endif
<p>
<fieldset id="input_lang">
<legend>Languages</legend>
<label>
<input type="checkbox" onclick="toggle_checkbox('input_lang')"{{" checked" if langs|count == 0 or langs|contains(langs_disp)}}>
ALL LANGUAGES
<br>
</label>
# for lang_it in langs_disp
<label>
<input name="lang" onclick="prove_checkbox('input_lang')" value="{{ lang_it.name }}" type="checkbox"{{" checked" if langs|count == 0 or lang_it in langs}}>
{{ lang_it.value }}
</label>
<br>
# endfor
</fieldset>
</p>
<p>
<fieldset>
<legend>Feed</legend>
# for feed_it in enum_feed
<label>
<input name="feed" value="{{feed_it.name}}" type="radio"{{" checked" if feed_it == feed}}{{" disabled" if not magic_exists}}>
{{ feed_it.value }}
</label>
<br>
# endfor
</fieldset>
</p>
<p>
<fieldset>
<input name="page" value="{{ page }}" type="hidden">
<input name="timeunit" value="{{ timeunit.name }}" type="hidden">
# for tu_it in enum_timeunit
<button name="timeunit_new" value="{{ tu_it.name }}" type="submit">
{{ tu_it.value }}
</button>
# endfor
</fieldset>
</p>
</form>
</section>
# if feeds_all|count > 0 or tags_all|count > 0
<hr>
# endif
# if feeds_all|count > 0
<form action="{{ url_for('feed.feed') }}" method="get">
<p>
<fieldset>
<legend>Feed</legend>
<select name="feed_id">
# for feed_it in feeds_all
<option value="{{ feed_it.FeedID }}">{{ feed_it.Title }}</option>
# endfor
</select>
<input type="submit" value="Edit">
</fieldset>
</p>
</form>
# endif
# if tags_all|count > 0
<form action="{{ url_for('tag.tag') }}" method="get">
<p>
<fieldset>
<legend>Tag</legend>
<select name="tag">
# for tag_it in tags_all
<option value="{{ tag_it.TagID }}">{{ tag_it.Name }}</option>
# endfor
</select>
<input type="submit" value="Edit">
</fieldset>
</p>
</form>
# endif
</aside>
