{% extends "base.html" %}

{% block header %}
{{ [likes_lang|count, dislikes_lang|count]|max }} languages.
{% endblock %}

{% block body %}
# for lang_it in likes_lang
<hr class="article-hr">

<section>
<h2>{{ lang_it.value }}</h2>

# if likes_lang.get(lang_it)|count
<p>{{ likes_lang.get(lang_it)|count }} likes:</p>

<ul>
# for row_it in likes_lang.get(lang_it)
<li>
{{ row_it.feed.Title }}:
<a href="{{ row_it.Link }}">{{ row_it.Title|safe }}</a>
({{ row_it.Published|day }}).
</li>
# endfor
</ul>
# endif

# if dislikes_lang.get(lang_it)|count
<p>{{ dislikes_lang.get(lang_it)|count }} dislikes:</p>

<ul>
# for row_it in dislikes_lang.get(lang_it)
<li>
{{ row_it.feed.Title }}:
<a href="{{ row_it.Link }}">{{ row_it.Title|safe }}</a>
({{ row_it.Published|day }}).
</li>
# endfor
</ul>
# endif
</section>
# endfor

<hr>
{% endblock %}
