{% extends "base.html" %}

{% block body %}
<hr>
# for lang_it in likes_lang
# if likes_lang[lang_it]|count and dislikes_lang[lang_it]|count
<h2>{{ lang_it.value }}</h2>
# if likes_lang[lang_it]|count
<p>{{ likes_lang[lang_it]|count }} likes:</p>
<ul>
# for row_it in likes_lang[lang_it]
<li>
{{ row_it.feed.Title }}:
<a href="{{ row_it.Link }}">{{ row_it.Title|safe }}</a>
({{ row_it.Published|day }}).
</li>
# endfor
</ul>
# endif
# if dislikes_lang[lang_it]|count
<p>{{ dislikes_lang[lang_it]|count }} dislikes:</p>
<ul>
# for row_it in dislikes_lang[lang_it]
<li>
{{ row_it.feed.Title }}:
<a href="{{ row_it.Link }}">{{ row_it.Title|safe }}</a>
({{ row_it.Published|day }}).
</li>
# endfor
</ul>
# endif
# endif
# endfor
{% endblock %}
