<span class="right">
<!-- Home view -->
<a href="{{ get_home(feed, page, timeunit, langs, tags) }}">
<i class="material-icons">home</i>
</a>

<!-- Statistics view -->
<a href="{{ get_statistics(feed, page, timeunit, langs, tags) }}" target="_blank">
<i class="material-icons">insert_chart_outlined</i>
</a>

<!-- Settings view -->
<a href="{{ get_settings(feed, page, timeunit, langs, tags) }}" target="_blank">
<i class="material-icons">settings</i>
</a>

<!-- Sidebar -->
<i onclick="open_menu()" class="material-icons">menu</i>
</span>
